<?xml version="1.0"?>
<ruleset name="Symfony-Programmes">
    <description>Symfony CS for /programmes</description>

    <!-- COMMAND LINE OPTIONS -->
    <arg value="np"/>
    <arg name="colors"/>
    <arg name="extensions" value="php"/>
    <file>./src</file>
    <file>./tests</file>

    <rule ref="./vendor/endouble/symfony3-custom-coding-standard/Symfony3Custom">
        <!-- GENERAL -->
        <exclude name="Generic.Files.LineLength.MaxExceeded"/>
        <exclude name="PSR2.Methods.FunctionCallSignature.SpaceBeforeCloseBracket"/>

        <!-- FUNCTIONS -->
        <!-- Ignore missing function docblocks as we hint parameter and return types using proper typehints -->
        <exclude name="Symfony3Custom.Commenting.FunctionComment.Missing"/>
        <exclude name="Symfony3Custom.Commenting.FunctionComment.MissingReturn"/>
        <!-- We don't care if parameter names all line up as if one changes then the diff will be noisy -->
        <exclude name="Symfony3Custom.Commenting.FunctionComment.SpacingAfterParamType"/>
        <exclude name="Symfony3Custom.Commenting.FunctionComment.SpacingAfterParamName"/>
        <exclude name="Symfony3Custom.Commenting.FunctionComment.MissingParamTag"/>
        <!-- We don't care about requiring a blank line before a return -->
        <exclude name="Symfony3Custom.Formatting.BlankLineBeforeReturn"/>
        <!-- This doesn't enforce what we want it to.
        See https://github.com/escapestudios/Symfony2-coding-standard/issues/27 -->
        <exclude name="PEAR.Functions.FunctionCallSignature.Indent"/>
    </rule>

    <rule ref="Generic.Metrics.NestingLevel">
        <properties>
            <property name="nestingLevel" value="3" />
        </properties>
    </rule>

    <!-- The Mappers that convert nitro/pips to DB entites can have variables
        with underscores in them as that's what they look like in the nitro/pips apis -->
    <rule ref="Zend.NamingConventions.ValidVariableName">
        <exclude-pattern>src/FaucetBundle/Mapper/*</exclude-pattern>
    </rule>
</ruleset>
